.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around; 
    align-items: center;
}



#photographer-name {
    color: #D3573C;
    font-size: 30px;
    margin-bottom: 10px;
}
#photographer-location {
    color: #901C1C;
    font-size: 15px;
    margin: 0;
}
#photographer-photo {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px 0;
}
#photographer-desc {
    margin: 20px 0;
} 


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    margin-top: 30px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    padding: 35px;
    border: none;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

